default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: root
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: edelweis_development


test:
  <<: *default
  database: edelweis_test


production:
  <<: *default
  database: edelweis_development
  username: root
  password: root
