#slider {
  display: block;
  height: 674px;
  width: 100%;
  z-index: 100;

  .slider-top {
    padding: 30px 0;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 100;

    h3 {
      color: #ffffff;
      font-size: 35px;
      font-weight: bold;
    }
  }

  .slider-bottom {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    padding: 30px 0;
    position: absolute;
    width: 100%;
    z-index: 100;

    .text {
      font-size: 14px;
      line-height: 19px;
      color: #fff;
    }
  }

  .start-to-invest {
    margin-top: 25px;
  }
}

#welcome_page {
  section.about {
    background: rgba(0, 0, 0, 0) url("wave-bg.jpg") repeat scroll 0 0;
    color: #777;
    font-size: 14px;
    line-height: 19px;

    .certificate {
      h3 {
        font-size: 24px;
        margin-left: 20px;
        margin-top: 15px;
      }

      img {
        margin: 20px 0 30px 0;
      }
    }

    iframe {
      margin: 20px auto;
    }
  }

  section.sales {
    .text {
      background: hsla(0, 0%, 97%, 0.9) none repeat scroll 0 0;
      margin-bottom: 35px;
      padding: 25px 30px 30px;
      position: relative;
      z-index: 2;
    }
  }

  section.technology {
    .tech-tab {
      display: flex;
      align-items: center;
      background: hsla(0, 0%, 97%, 0.9) none repeat scroll 0 0;
      padding: 20px;
      cursor: pointer;

      &:hover {
        color: #fff;
        background: #8ac200 none repeat scroll 0 0;
      }
    }

    .active {
      color: #fff;
      background: #8ac200 none repeat scroll 0 0;
    }

    .wind-content, .sun-content {
      padding: 25px 30px 30px;
      background: hsla(0, 0%, 97%, .9);
      z-index: 2;
      position: relative;
      margin-bottom: 35px;
    }

    .wind {
      display: block;
    }

    .sun {
      display: none;
    }

    .wind-icon, .sun-icon {
      background-image: url('sprite.png');
      width: 70px;
      height: 70px;
    }

    .wind-icon {
      background-position: -761px -192px;
    }

    .sun-icon {
      background-position: -761px -262px;
    }

    .tech-image {
      margin-top: 20px;
    }

    .tech-title {
      font-size: 17px;
      margin-left: 5px;

      span {
        display: block;
        font-size: 15px;
      }
    }
  }

  section.investment {
    background: rgba(0, 0, 0, 0) url("investment-bg.jpg") repeat scroll 0 0;

    h2 {
      color: #fff;
      font-size: 36px;
      margin-bottom: 25px;
    }

    .plan {
      padding: 30px;
      position: relative;
      
      h3, span {
        color: #fff;
      }

      h3 {
        font-size: 24px;
        margin: 15px 0;
      }

      p {
        line-height: 30px;
        color: #4e690c;

        span {
          color: #fff;
          font-size: 15px;
          margin-left: 5px;
        }
      }

      .text {
        color: #777;
        font-size: 14px;
        line-height: 19px;
      }

      .graph {
        z-index: 2;
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }

    .calc {
      background: rgba(0, 0, 0, 0) url("calc-bg.jpg") repeat scroll 0 0;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;

      h3 {
        font-size: 24px;
        color: #fff;
      }

      span {
        font-size: 15px;
        color: #fff;
        display: block;
      }

      .graph-block {
        background: rgba(0, 0, 0, 0) url("graph-bg.png") repeat scroll 0 0;
        margin: 40px 0 40px;
        position: relative;
        width: 265px;
        height: 140px;

        .per {
          font-size: 21px;
          color: #fff;
          position: absolute;
          right: 80px;
          top: 103px;
        }
      }

      input {
        border: 1px solid #4e690c;
        font-size: 19px;
        margin-top: 18px;
        padding: 8px 0;
        background: transparent;
        width: 100%;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        font-family: PT Sans, sans-serif;
      }

      .rate {
        color: #405700;
        margin-top: 30px;
        display: inline-block;
        color: #333;
        vertical-align: middle;
        font-size: 15px;
      }

      .profit {
        display: block;
        font-size: 24px;
        color: #fff;
        margin: 20px 0;
      }
    }
  }

  section.about, section.sales, section.technology, section.investment {
    padding-top: 30px;
    padding-bottom: 30px;

    h1 {
      font-weight: 500;
      line-height: 1.1;
      font-size: 48px;
      margin-bottom: 10px;
    }
  }
}

#about_page {
  background: rgba(0, 0, 0, 0) url("wave-bg.jpg") repeat scroll 0 0;
  color: #777;
  font-size: 14px;
  line-height: 19px;

  .about-header {
    background: url("about_header_bg.jpg") no-repeat 50%;
    background-size: cover;
    height: 250px;

    h2 {
      color: #fff;
      font-size: 48px;
      padding: 90px 0 0;
    }
  }

  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
    font-weight: 400;
  }

  .text, p {
    margin-top: 20px;
  }

  .about-slide {
    width: 100%;
    margin: 0;
    padding: 0;

    td {
      width: 50%;
    }

    img {
      width: 100%;
    }

    .img-description {
      display: block;
      font-size: 24px;
      color: #fff;
      width: 350px;
      text-align: left;
      margin-left: 70px;
    }
  }
}


#faq_page {
  background: rgba(0, 0, 0, 0) url("wave-bg.jpg") repeat scroll 0 0;
  color: #777;
  font-size: 14px;
  line-height: 19px;

  .faq-header {
    background: url("faq_header_bg.jpg") no-repeat 50%;
    background-size: cover;
    height: 250px;

    h2 {
      color: #fff;
      font-size: 48px;
      padding: 90px 0 0;
    }
  }

  .text {
    position: relative;
    border-width: 2px;
    border-style: solid;
    padding: 25px 25px 5px;
    border-image: linear-gradient(90deg, #9bd301, #009bde) 1 10%;
    margin: 20px 0 25px 30px;
  }

  h2 {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 30px;
    color: #444;
    font-weight: 400;
  }

  .question {
    display: inline-block;
    font-size: 19px;
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;

    &:before {
      width: 7px;
      height: 7px;
      background: #8ac200;
      content: '';
      display: inline-block;
      border-radius: 50%;
      margin-right: 15px;
      position: relative;
      top: -3px;
    }
  }

  h4.open {
    color: #8ac200;
  }

  .faq-category {
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
}